body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 95px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

.my-drop-zone {
  border: dotted 3px lightgray;
}

.nv-file-over {
  border: dotted 3px red;
}

label {
   cursor: pointer;
   /* Style as you please, it will become the visible UI component. */
}

label.is-dragover {
  border: dotted 3px red;
}

#upload-csv-xml {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
